.question_container {
  background-color: #f2f2f2;
  padding: 50px;
  border-radius: 20px;
  max-width: 1200px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.question_second_container {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.question_title {
  font-family: "Montserrat", sans-serif !important;
}

.question_btn {
  width: 250px;
  height: 50px;
}

.question_label {
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
  color: #182747 !important;
}

.active,
.deactive {
  width: 100%;
  margin: 2.5px 0;
}

.active {
  border: 1px solid #182747;
  border-radius: 6px;
  background-color: #18274721;
}

.active span,
.deactive span {
  font-family: "Montserrat", sans-serif !important;
}

.hint {
  color: gray;
  margin-top: 20px !important;
}

.question_hint {
  display: flex;
  flex-direction: column !important;
}
