* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin-top: 70px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
